In [31]:
from nba_api.stats.endpoints import teamyearbyyearstats

test = teamyearbyyearstats.TeamYearByYearStats(league_id="00", 
                                               per_mode_simple = "PerGame", 
                                               season_type_all_star = "Playoffs", 
                                               team_id="1610612747")
test = test.get_data_frames()[0]
test = test[test.YEAR == '2019-20']
test.head()

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
71,1610612747,Los Angeles,Lakers,2019-20,71,52,19,0.732,1,1,...,10.7,35.1,45.7,25.4,20.7,8.6,15.2,6.6,113.4,11

In [7]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'ATL'][0]
celtics_id = celtics['id']

from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.groupby(games.SEASON_ID.str[-4:])[['GAME_ID']].count().loc['2020':]

# Subset the games to when the last 4 digits of SEASON_ID were 2017.
games_2021 = games[games.SEASON_ID.str[-4:] == '2020']
games_2021.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42020,1610612737,ATL,Atlanta Hawks,0042000302,2021-06-25,ATL @ MIL,L,240,91,...,0.824,7,27,34,13,8.0,4,19,22,-34.0
1,42020,1610612737,ATL,Atlanta Hawks,0042000301,2021-06-23,ATL @ MIL,W,239,116,...,0.875,12,39,51,19,5.0,2,11,17,3.0
2,42020,1610612737,ATL,Atlanta Hawks,0042000207,2021-06-20,ATL @ PHI,W,239,103,...,0.750,6,38,44,22,9.0,1,10,23,7.0
3,42020,1610612737,ATL,Atlanta Hawks,0042000206,2021-06-18,ATL vs. PHI,L,240,99,...,0.542,8,39,47,19,6.0,3,12,22,-5.0
4,42020,1610612737,ATL,Atlanta Hawks,0042000205,2021-06-16,ATL @ PHI,W,239,109,...,0.786,10,30,40,14,10.0,4,11,28,3.0